/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 30px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-size: 1.05rem;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 0;
  padding-top: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
