---
layout: default
---
<div class="post">
    <article>

        <h2>
            <span class="font-weight-bold">Research</span>
        </h2>

        <div class="clearfix">
            {{ content }}
        </div>

        <!-- Research Topics -->
        {% include micro/research_topics.liquid %}

    </article>

</div>